@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.cart-badge {
  position: absolute;
  font-weight: bold;
  color: #fb923c; /* Tailwind's text-orange-600 */
  margin-left: 1rem; /* Tailwind's ml-4 */
  padding-left: 1rem
}
